name: CI - MLflow Project (Basic)

on:
  push:
    branches: ["main", "master"]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true

      - name: Check env
        shell: bash -l {0}
        run: |
          conda --version
          python --version
          ls -la MLProject
          cat MLProject/MLProject

      - name: Install MLflow in base env
        shell: bash -l {0}
        run: |
          pip install mlflow==3.8.0
          mlflow --version

      - name: Run MLflow Project (re-train)
        shell: bash -l {0}
        env:
          MLFLOW_TRACKING_URI: file:${{ github.workspace }}/mlruns
        run: |
          mlflow --version || true
          mlflow run ./MLProject -e main --experiment-name MSML-CI-Basic-Glass

      - name: Show mlruns result (debug)
        shell: bash -l {0}
        run: |
          ls -la
          ls -la mlruns || true
